Options All -Indexes

RewriteEngine On
RewriteRule ^([a-zA-Z0-9/]+)$ index.php?views=$1

<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>